@model Blog.Models.Article
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <section class="container">
        <div class="page-container">
            <div class="page-content">
                <div class="card">
                    <form asp-action="Get" asp-controller="Home" asp-route-Id="@Model.Id">
                    <div class="card-header pt-0">
                            <h3 >@Model.Title</h3>
                    </div>
                    <div class="card-body border-top">
                            <p class="my-3">@Model.Content</p>
                            <p>@Model.Description</p>
                    </div>
                        <small class="small text-muted">
                            <a href="#" class="text-muted">@Model.Author</a>
                            <span class="px-2">·</span>
                            <span>@Model.CreatedAt</span>
                            <span class="px-2">·</span>
                            <a href="#" class="text-muted">Comments: @Model.Comments.Count</a>
                        </small>
                    </form>
                    <div class="card-footer">
                        <hr>
                        @foreach (var c in @Model.Comments)
                        {
                        <div class="media mt-5">
                            <img src="~/imgs/avatar-2.jpg" class="mr-3 thumb-sm rounded-circle" alt="...">
                            <div class="media-body">
                                <h6 class="mt-0">@c.Name</h6>
                                    <p>@c.Content</p>
                                    @*<a href="#" class="text-dark small font-weight-bold"><i class="ti-back-right"></i> Replay</a>*@
                            </div>
                        </div>
                        }
                        @*<div class="media">
                            <img src="assets/imgs/avatar-1.jpg" class="mr-3 thumb-sm rounded-circle" alt="...">
                            <div class="media-body">
                                <h6 class="mt-0">Janice Wilder</h6>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</p>
                                <a href="#" class="text-dark small font-weight-bold"><i class="ti-back-right"></i> Replay</a>
                                <div class="media mt-5">
                                    <a class="mr-3" href="#">
                                        <img src="assets/imgs/avatar.jpg" class="thumb-sm rounded-circle" alt="...">
                                    </a>
                                    <div class="media-body align-items-center">
                                        <h6 class="mt-0">Joe Mitchell</h6>
                                        <p>Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus</p>
                                        <a href="#" class="text-dark small font-weight-bold"><i class="ti-back-right"></i> Replay</a>

                                    </div>
                                </div>
                            </div>
                        </div>*@
                        
                        <h6 class="mt-5 mb-3 text-center"><a href="#" class="text-dark">Write Your Comment</a></h6>
                        <hr>
                        <form asp-action="Comment" asp-controller="Post">
                            <div class="form-row">
                                <div class="col-12 form-group">
                                    <label class="form-control-label" asp-for="@Model.Comment.Content">Content</label>
                                    <input type="text" class="form-control" asp-for="@Model.Comment.Content">
                                </div>
                                <div class="col-sm-4 form-group">
                                    <label class="form-control-label" asp-for="@Model.Comment.Name">Name</label>
                                    <input type="text" class="form-control" asp-for="@Model.Comment.Name">
                                </div>
                                <input type="hidden" class="form-control" asp-for="@Model.Comment.ArticleId" value="@Model.Id">
                                <div class="form-group col-12">
                                    <input type="submit" value="Write Comment" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>