@model IEnumerable<Blog.Models.ArticleDTO>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    <div class="container">
        <hr>
        <div class="page-container">
            <div class="page-content">
                <div class="row"> 
                    @foreach (ArticleDTO post in Model)
                    {
                        <div class="col-lg-6">
                            <div class="card text-center mb-5">
                                <div class="card-header p-0">
                                    <div class="blog-media">
                                        <img src="~/imgs/blog-2.jpg" alt="" class="w-100">
                                        @*<a href="#" class="badge badge-primary">@post.Author</a>*@
                                    </div>
                                </div>
                                <div class="card-body px-0">
                                    <h5 class="card-title mb-2">@post.Title</h5>
                                    <small class="small text-muted">
                                        @post.CreatedAt
                                        <span class="px-2">-</span>
                                        <a href="#" class="text-muted">@post.Content</a>
                                    </small>
                                    <p class="my-2">@post.Description</p>
                                </div>

                                <div class="card-footer p-0 text-center">
                                    <a asp-controller="Post" asp-action="ShowArticle" asp-route-Id="@post.Id">READ MORE</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <button class="btn btn-primary btn-block my-4">Load More Posts</button>
            </div>
        </div>
    </div>
</body>
</html>